/* course selection page and table layout.css */
.html {
    margin: 0;
    padding: 0;
    background-color: #fbf4cf; /* Set the desired background color */
  }
  
.body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: #fbf4cf; /* Set the desired background color */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    min-height: 100vh;
    
}

  .buttonContainer{
    display: flex;
    justify-content: space-around;
  }

  .button {
    flex: 0 0 200px;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0;
  }
  
  .button1, .button2, .button3{
    flex-direction: row;
    flex: 0 0 150px;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    transition: background-color 0.3s; /* Smooth transition for background color */
    background-color: #b2d0a1; /* Set the common initial background color */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 19px; /* Adjust the desired font size */
    font-weight: bold;
  }

  .button1:hover, .button1.active{
    background-color: rgb(120, 178, 245); /* Set button background color on hover/click */
    color:#fff;
  }

  .button2:hover, .button2.active{
    background-color: rgb(180, 152, 231); /* Set button background color on hover/click */
    color:#fff;
  }

  .button3:hover, .button3.active{
    background-color: #ee9494; /* Set button background color on hover/click */
    color:#fff;
  }
  
  .tableContainer {
    flex: 1;
    overflow: auto;
    margin: 30px; /* Add space from the buttons */
    padding: 30px;
    display: flex; /* Change display property to flex */
    flex-direction: column; /* Set the flex direction to column */
  }
  
  .table {
    flex: 1;
    border-collapse: collapse;
    width: 100%; /* Take the full width */
    border: 1px solid #333;
    background-color: #fff; /* Set background color for the table */
  }

  .CourseSelectionPage_tableContainer__8GMTu.table3{
    background-color: #ee9494 !important;
  }

  .tableContainer.table.table1{
    background-color: rgb(120, 178, 245);
  }

  .tableContainer.table.table2{
    background-color: rgb(180, 152, 231); 
  }


  .th {
    padding: 10px;
    border: 1px solid #333;
  }
  
  .td {
    padding: 10px;
    border: 1px solid #333;
  }
  