/* course selection page and table layout css */

.body {
    background-color: #fbf4cf; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Style the first button */
.button-1 {
    background-color: #08781f; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the second button */
.button-2 {
    background-color: #0442b6; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the third button */
.button-3 {
    background-color: #6f118f; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-container {
    text-align: center;
    margin-top: 50em;
}


/* Style the table-container when a button is selected */
.button-1.selected + .table-container {
    background-color: #08781f;
}
.button-2.selected + .table-container{
    background-color: #0442b6;
}
.button-3.selected + .table-container {
    background-color: #6f118f; /* Change this to the desired color */
}